<head>
		<meta charset="utf-8">
		<title>DevOOPS</title>
		<meta name="description" content="description">
		<meta name="author" content="DevOOPS">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="plugins/xcharts/xcharts.min.css" rel="stylesheet">
		<link href="plugins/select2/select2.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
        <link href="css/quran_style.css" rel="stylesheet">
        <link href="plugins/ckeditor/assets/styles.css" rel="stylesheet" media="screen">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script type="text/javascript" src="js/bootbox.js"></script>
        <link href="plugins/ckeditor/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
		<script src="plugins/ckeditor/ckeditor.js"></script>
		<script src="plugins/ckeditor/samples/sample.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script> 
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="js/text_editor.js"></script>
		<script src="http://malsup.github.com/jquery.form.js"></script> 
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/text_editor.js"></script> 
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type = "text/javascript">
		    history.pushState(null, null, 'index.html');
		    window.addEventListener('popstate', function(event) {
		    history.pushState(null, null, 'index.html');
    	</script>
	</head>  
<div id="test" ng-app="" ng-init="names=[]">
  <div ng-repeat="x	in names" >
  	  
  	 <p>
  		    {{x.texte["0"] }}

  	</p>
  	  		    <input type="button" class="btn btn-primary" value="imprimer" ng-click="show(x.texte['0'])"/>

  </div>
</div>

<SCRIPT>


	
   
    function postSearch (q) {
    var hr = new XMLHttpRequest();
    var url = "controllers/SearchController.php";
    var query=q;
    var vars = "query="+query+"&function="+"";
    var return_data ="";
    hr.open("POST", url, true);
    hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    hr.onreadystatechange = function() {
    	
        if(hr.readyState == 4 && hr.status == 200) {
            return_data =hr.responseText;
            return_data =hr.responseText;
            alert(return_data);
            var jsonObj = $.parseJSON(return_data);
            angular.element(document.getElementById('test')).scope().$apply(function(scope){
            scope.names = jsonObj;
            scope.show = function(message) {
            alert(message);
            };
            
         });
         
        }
    }
    hr.send(vars);    
    
    } 
	
</SCRIPT>